.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100px;

    background-color: #f3f3f3;
    border: 1px solid #dddddd;

    padding: 20px;
    border-radius: 3px;
}

.subtotal__gift {
    display: flex;
    align-items: center;

    input {
        margin-right: 5px;
    }
}

.subtotal__button {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;

    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;

    color: #111;
}