.home {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: center;
}

.home__image {
    width: 100%;

    // Behind everything else and elements below partially blocking
    z-index: -1;
    margin-bottom: -350px;

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
    display: flex;
    gap: 30px;
    padding: 0 30px;
}